<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/handleDeleteMessage.js" defer></script>

</head>

<body>
    <div class="blur"></div>
    <div class="title">
        <h1>Mini Message Board</h1>
    </div>

    <div class="message-container">
        <ul>
            <% messages.forEach(message=> {%>
                <div class="chat-box" data-id="<%= message.id %>">
                    <li class="username">
                        <%= message.user %>
                    </li>
                    <li class="text">
                        <%= message.text %>
                    </li>
                    <li class="added">
                        <%= message.added %> &#x2713;&#x2713;
                    </li>
                    <li class="details-container">
                        <a href="/details/<%= message.id %>" id="btnDetails">Details</a>
                    </li>
                    <div class="icon-container">
                        <i class="fa-solid fa-xmark btn-delete" id="icon-x"></i>
                    </div>
                </div>
                <% }) %>

        </ul>
    </div>
    <div class="add-new-message">
        <form action="/new">
            <button id="btnNewMessage">Add New Message</button>
        </form>
    </div>

</body>

</html>